:root {
    --gray: #292C33;
    --white: white;
    --orange: #FF676E;
    --lightOrange: #FFEEE2;
    --lightgray: #a1a7b4;
    --black: #111;
    --blue: #30aefc;
    font-size: 10px;


}

body {
    margin: 0;
    padding: 0;
    background-color: var(--lightOrange) !important;
    /* background-color: red; */
}

p {
    font-size: 2rem;
}

.color-white {
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.button {
    width: auto;
    height: 3.3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.4rem;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.p-bold{
    font-size: 0.5rem;
    font-weight: 500;
    margin: 0;
    line-height: normal;
}
.p-bolder{
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    padding: 0;
    line-height: normal;

}

.username{
    margin-top: 8rem;
    /* text-align: center; */
    font-weight: 600;
    font-size: 2.5rem;
}

.icon_heading{
    font-weight: 700;
    font-size: 1.5rem;
}

.details{
    font-size: 1.6rem;
    padding-left: 5px;
}