.main_div {
    margin: 5rem;
}

.export_btn,
.search_btn {
    background: #479C88;
    border: none;
}

.export_btn:hover,
.search_btn:hover {
    background: #1f856d;
}

.dropdown_btn {
    background: none !important;
    border: none;
    color: blue;
    font-size: 20px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown_btn:hover {
    color: blue !important;
}

.homeHeader {
    width: 77vw;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 2rem;
}

.dataDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tableContainer {
    /* width: 70vw; */
    /* margin: auto; */
    /* padding: 0; */
}